body {
  font-family: 'Fira Mono', Monospace;
  font-size: 14pt;
  background-color : #101018;
  color: #d0bf8f;
}
h1, h2, h3 {
  font-family: 'VT323', Monospace;
  font-weight: 200;
  color: #d0bf8f;
}
h1 {
    text-align: center;
}
hr {
    width: 35%;
}
.entry {
    border: 1px #404060 dotted;
    border-radius: 5px;
    background-color : #202030;
    width: 80%;
    margin: auto;
}
a {
    font-weight: 700;
    text-decoration: none;
    color: #952020;
}
.navbar, .attribution {
    text-align: center;
}
.tagged-posts {

    display: none;
}

.tag-name:hover {
    background-color: #202030;
    border: 1px #404060 dotted;
    border-radius: 5px;
    height: auto;
    width: 100%;
}
.tag-name:hover > .tagged-posts {
    display: inline-block;
}
.post-tags {
    width: 80%;
    margin: auto;
}
.post-tag {
    background-color: #d0bf8f;
    color: #101018;
    border-radius: 2px;
    font-size: 10pt;
    margin: 10px 0px 10px 2px;
    padding: 2px;
    display: inline-block;
}
.timestamp {
    font-weight: 600;
}